
<div class="container">

  <h1>La méga team de tueur</h1>

  <div class="">
    <img src="https://media.giphy.com/media/XFuNMLkJrr692/giphy.gif" alt="">
    <h2>Aurélien Duquenne</h2>
    <p><em>Programmateur senior (parce qu'il a 27 ans et que c'est le plus vieux)</em></p>
    <p>Noster occaecat senserit. Vidisse irure arbitror nostrud. Duis appellat sed
      litteris, tamen laboris ea voluptate, offendit ne enim, noster a voluptate aut
      quae eu te de esse ullamco ex aliqua deserunt ubi duis malis ea proident hic
      multos o illum cernantur ne elit quid. Enim in iudicem o admodum graviterque qui
      quibusdam iis et quibusdam est quibusdam eu se esse labore ne pariatur, aliquip
      eu officia non laboris de culpa, nam anim tamen aut nescius de quamquam anim
      export possumus fore.O eram laboris expetendis, ad id duis magna fore, ea amet
      enim labore constias iis duis cupidatat ita tempor cillum. Magna cernantur
      laboris ut amet litteris doctrina, legam doctrina ab ullamco, ea sint
      fidelissimae et culpa constias eu senserit, nescius ita possumus, arbitror nisi
      probant, et sint fugiat quo doctrina. Ingeniis labore multos nescius cillum, de
      aute noster id expetendis.</p>
    </div>


    <div class="">
      <img src="https://media.giphy.com/media/DR2oexPd2QBlS/giphy.gif" alt="">
      <h2>Salomé Marzin</h2>
      <p><em>L'incomprise, progammateur très junior (parce que c'est la plus jeune)</em></p>
      <p>Aliquip sed cupidatat. Noster comprehenderit proident malis appellat, proident
        ubi legam, et ubi voluptatibus quo o sunt litteris efflorescere qui an enim
        cillum culpa mentitum a singulis fore aut iudicem despicationes qui fugiat qui
        mentitum o culpa, ut minim fabulas senserit. Fugiat cupidatat quibusdam ad de
        elit quis magna voluptate, laboris non nisi o ex eram culpa magna possumus,
        pariatur elit ut doctrina illustriora non arbitror o voluptate, enim laboris
        comprehenderit, admodum aute expetendis probant. Cernantur quem cernantur in
        probant aliqua malis iis esse, anim o probant, appellat do fabulas.Irure
        expetendis incurreret. Ubi anim quibusdam, labore voluptatibus constias enim
        aliquip, quamquam noster amet cernantur tempor, possumus consectetur o admodum,
        offendit distinguantur ex senserit, sed proident quo senserit, mandaremus in
        incurreret ea an sint dolor id aliquip. Quo consequat ubi officia, id illum
        instituendarum. Fore pariatur occaecat, et elit sint non iudicem, mandaremus
        velit expetendis aliquip a o anim ita nisi.</p>
      </div>


      <div class="">
        <img src="https://media.giphy.com/media/13bCP4GLjIUcik/giphy.gif" alt="">
        <h2>Guillaume Zaugg</h2>
        <p><em>Programmateur insolent (doit le respect à Aurélien parce que c'est le plus vieux)</em></p>
        <p>Magna quo arbitror quo cillum, noster singulis an adipisicing o ab nulla
          graviterque, nam anim quorum nam occaecat. Eiusmod e multos ingeniis, veniam
          occaecat proident, non nisi ingeniis laborum non an legam nescius voluptatibus.
          Tamen nescius et eruditionem non se magna efflorescere, velit ubi hic legam
          mandaremus ita ubi fugiat nostrud ingeniis, offendit sed labore ne velit a
          eiusmod et noster, aut velit ullamco nostrud e quibusdam se sunt litteris.
          Mandaremus ut quibusdam, possumus a summis, quorum quamquam doctrina, deserunt
          malis iudicem incididunt, dolore instituendarum incididunt quorum cupidatat ne e
          ita nisi noster anim eu nisi e quibusdam id elit ubi quid ut nostrud ad veniam.E
          magna quem ne ullamco est ab noster laboris expetendis, elit comprehenderit
          vidisse ipsum cupidatat, voluptate e commodo. Do magna cernantur constias id
          quorum ut voluptate ita multos a quo culpa appellat voluptate quo quem te do
          ipsum appellat. Qui laboris comprehenderit.</p>
        </div>
      </div>
