<main class="container">
  <h1>Modifier le commentaire</h1>
  <%= form_tag url_for(action: 'update'), method: "PATCH", :class => "form-group" do %>

    <label for="content">Modifiez votre commentaire :</label>
    <%= text_area_tag 'content', @current_comment.content, :class => "form-control", :rows => "10" %>
    <%= submit_tag "Envoyer", :class => "btn btn-primary" %>
  <% end %>
</main>
