<main class="container">
<h1>Créez un nouveau gossip</h1>
<form class="form-group" action=<%= gossips_path %> method="POST">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="title">C'est ici pour le titre</label>
  <input class="form-control" type="text" name="title" id="title" placeholder="Votre titre...">

  <label for="textarea">C'est ici pour le potin</label>
  <textarea name="content" class="form-control" id="textarea" rows="3" placeholder="Votre potin..."></textarea>

  <input type="submit" value="Envoyer le potin" class="btn btn-primary">
</form>
</main>
